/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}



img {
    max-width: 100%;
}


/* Utilities */



.container {
    margin: 0 auto;
    width: 80%;
    
}

.space {
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.rettangolo a {
    background-color: #0061ff;
    padding: .4rem ;
    color: white;
    text-decoration: none;
}

.position {
    position: relative;
}

/* Testi */
/* header */

h1 {
    font-weight: 800;
    text-align: center;
    
}

/* main*/

h2 {
    font-weight: 800;
}

/* HEADER  */
.top-header {
    height: 80px;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
}

.logo {
    vertical-align: middle;
    padding: .4rem 1rem 0rem 0rem;
}
.lato-sx,
.lato-dx {
    line-height: 80px;
    
}

.lista {
    gap: 1em;
}

.lista a {
    text-decoration: none;
}

/* Jumbotron */


.jumbotron {
    padding: 6rem 2rem 0 0;
    background-color: #b4d0e7;
    
}

.distanza {
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.arrow {
    position: absolute;
    bottom: 0;
    left: 0;
  
}

.col-1 {
    width: 30%; 
}

.col-2 {
    width: 70%;
}

.rounded-checkbox {
    width:15px;
    height: 15px;
    border-radius: 50%;
    line-height: 60px;
    appearance: none;
    border: 1px solid blue;
    
    
  }

  .rounded-checkbox:checked {
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
  }

.class-header {
    padding-top: .8rem;
    padding-bottom: .8rem;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.pl-col-1,
.pl-col-2,
.pl-col-3,
.pl-col-4 {
    
    border: 1px solid lightgray;
    width: calc(100% / 3);
    
}

.pl-col-2 {
    margin-right: 3.8rem;
    margin-left: 3.8rem;
}

.plans li {
    padding: 1rem;
    margin: 1em 0;
}

.fa-check {
    color:#0061ff  ;
}

.pl-col-4 {
    margin-top: 2rem;
    height: fit-content;
    width: auto;
    border: 1px solid lightgray;
    position: relative;

}

.enterprise {
    padding: .5rem;
    margin: .5rem 0;
    line-height: 50px;
}

.enterpr {
    position: absolute;
    right: 10px;
    top: 70px;
}


.par-col-1 {
    width: 60%;
}

.par-col-2 {
    width: 30%
}

.par-col-1,
.par-col-2 {
    border: 1px solid red;
    height: 90px;
    display: inline-block;
}

.trova-un-prtn {

}
.bsns-col-1 {
    margin-bottom: 10px;
    /* debug */
    display: inline-block;
    border: 1px solid green;
    
}

.discover {
    /* debug */
    border: 1px solid pink;
    height: 70px;
}

.ft-top-right,
.ft-top-left {
    width: calc(100% / 2);
    flex-wrap: wrap;

}



.footer-bottom {
    /* debug */
    height: 100px ;
    border: 1px dashed black;

}

.txt {
    display: inline-block;
    /* debug */
    border: 1px dashed red;
    height: 40%;
}

.btn {
    display: inline-block;
}