/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}



img {
    max-width: 100%;
}


/* Utilities */



.container {
    margin: 0 auto;
    width: 80%;
    
}

.space {
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.rettangolo a {
    background-color: #0061ff;
    padding: .4rem ;
    color: white;
    text-decoration: none;
}

.position {
    position: relative;
}

/* Testi */
/* header */

h1 {
    font-weight: 800;
    text-align: center;
    
}

/* main*/

h2 {
    font-weight: 800;
}

/* HEADER  */
.top-header {
    height: 80px;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
}

.logo {
    vertical-align: middle;
    padding: .4rem 1rem 0rem 0rem;
}
.lato-sx,
.lato-dx {
    line-height: 80px;
    
}

.lista {
    gap: 1em;
}

.lista a {
    text-decoration: none;
}

/* Jumbotron */


.jumbotron {
    padding: 6rem 2rem 0 0;
    background-color: #b4d0e7;
    
}

.distanza {
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.arrow {
    position: absolute;
    bottom: 0;
    left: 0;
  
}

.col-1 {
    width: 30%; 
}

.col-2 {
    width: 70%;
}

.rounded-checkbox {
    width:15px;
    height: 15px;
    border-radius: 50%;
    line-height: 60px;
    appearance: none;
    border: 1px solid blue;
    
    
  }

  .rounded-checkbox:checked {
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
  }

.class-header {
    padding-top: .8rem;
    padding-bottom: .8rem;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.pl-col-1,
.pl-col-2,
.pl-col-3,
.pl-col-4 {
    
    border: 1px solid lightgray;
    width: calc(100% / 3);
    
}

.pl-col-2 {
    margin-right: 3.8rem;
    margin-left: 3.8rem;
}

.plans li {
    padding: 1rem;
    margin: 1em 0;
}

.fa-check {
    color:#0061ff  ;
}

.pl-col-4 {
    margin-top: 2rem;
    height: fit-content;
    width: auto;
    border: 1px solid lightgray;
    position: relative;

}

.enterprise {
    padding: .5rem;
    margin: .5rem 0;
    line-height: 50px;
}

.enterpr {
    position: absolute;
    right: 10px;
    top: 70px;
}


.par-col-1 {
    width: 55%;
}

.par-col-2 {
    width:45%;
    padding: 4rem;  
}

.partner-btn {
    border: 1px solid black;
    width:fit-content;
    padding: .5rem;
    
}
.partner-btn a {
    text-decoration: none;
}

.direction {
    flex-direction: column;
    justify-content: space-around;
}

.business {
    margin: 4rem ;
}


.discover {
    flex-direction: column;
    gap: 3rem;
}

.discover h2 {
    font-size:xx-large;
}

.ft-top-right,
.ft-top-left {
    width: calc(100% / 2);
    flex-wrap: wrap;

}

.txt {
    color: #61082b;
    font-size: xx-large;
}



.footer-bottom {
    height: 310px ;
    background-color: #b4d0e7;
    padding: 6rem;
}

.col-1 a {
    text-decoration: none;
    padding: 1rem;
    background-color: #ffffff;
}

.faq {
   flex-direction: column; 

}

.last-footer {
    background-color: black;
    color: white;
    padding: 4rem;
    padding-left: 5rem;
}

.col-interna {
    justify-content: space-around;
}

.col-interna-1 li:first-child {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 1rem;
}

.col-interna-1 {
    line-height: 3rem;
}

.last-hr {
    color: white;
    width: 10%;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
}

.lingua {
    margin-left: 2rem;
}